body {
  height: 100%;
  padding-top: 80px; }

ul, li {
  cursor: pointer; }

.dash__holder:hover {
  background-color: #4b6378; }

li:hover {
  background-color: #4b6378; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }
  header .header__user {
    display: none;
    position: absolute;
    right: 5%; }
    header .header__user .header__message {
      position: absolute;
      left: -40px;
      font-size: 30px; }
      header .header__user .header__message .message-counter {
        position: absolute;
        right: 50%;
        top: 50%;
        width: 24px;
        height: 17px;
        border-radius: 10px;
        background: #ef4b6e;
        color: #fff; }
        header .header__user .header__message .message-counter span {
          font-size: 11px;
          position: absolute;
          top: 3px;
          left: 6px; }
    header .header__user .user__pic__header {
      width: 62px;
      height: 62px;
      border-radius: 50%;
      background: url("img/user__pic.png"); }

i.fa-outdent {
  position: absolute;
  color: white;
  z-index: 2;
  background: #46c1fa;
  padding: 7px;
  border-radius: 50%;
  font-size: 22px;
  top: 24px;
  left: 296px;
  cursor: pointer;
  transition: 0.2s; }
  i.fa-outdent.collapsed {
    left: 102px;
    transform: rotateZ(180deg); }

.main__header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: calc(100% - 314px);
  height: 80px;
  padding: 0 8px 0 40px;
  color: #fff;
  background: #4a868c;
  transition: 0.2s; }
  .main__header.collapsed {
    width: calc(100% - 120px); }
  .main__header a {
    color: #fff; }
  .main__header .period__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px; }
    .main__header .period__wrapper .period__choose {
      width: 142px;
      height: 30px;
      border-radius: 3px;
      font-size: 15px;
      text-align: center;
      text-align-last: center;
      outline: none; }

.company__title {
  color: #fff;
  font-size: 34px;
  letter-spacing: 5px;
  padding-top: 22px;
  padding-left: 30px;
  height: 80px;
  width: 314px;
  background: #253340;
  display: inline-block;
  transition: 0.2s; }
  .company__title.collapsed {
    padding-left: 52px;
    padding-top: 26px;
    letter-spacing: 70px;
    width: 120px; }

.company__title:first-letter {
  color: #ed553c; }

.sidebar {
  position: absolute;
  width: 314px;
  height: 100%;
  background: #253340;
  transition: 0.2s; }
  .sidebar .message {
    position: relative; }
    .sidebar .message .message-counter {
      position: absolute;
      right: 10%;
      top: 45%;
      width: 27px;
      height: 21px;
      border-radius: 10px;
      background: #ef4b8f;
      color: #fff; }
      .sidebar .message .message-counter span {
        font-size: 13px;
        position: absolute;
        top: -24px;
        left: 6px; }
  .sidebar.collapsed {
    overflow: hidden;
    width: 120px; }
    .sidebar.collapsed .dash__holder {
      padding-left: 0;
      padding-right: 65px; }
      .sidebar.collapsed .dash__holder i {
        padding-right: 55px; }
    .sidebar.collapsed .message {
      position: relative; }
      .sidebar.collapsed .message .message-counter {
        position: absolute;
        right: 28%;
        top: 32%;
        width: 24px;
        height: 17px;
        border-radius: 10px;
        background: #ef4b6e;
        color: #fff; }
        .sidebar.collapsed .message .message-counter span {
          font-size: 11px;
          position: absolute;
          top: -26px;
          left: 5px; }
    .sidebar.collapsed .nav__items .dashboards.active {
      height: 70px; }
      .sidebar.collapsed .nav__items .dashboards.active i {
        font-size: 32px;
        padding-left: 76%;
        padding-top: 36%;
        padding-right: 100%; }
    .sidebar.collapsed .nav__items .dashboards .dash__holder i {
      padding-left: 87%;
      padding-right: 100%; }
    .sidebar.collapsed .nav__items .dashboards .list__name {
      padding-left: 0; }
      .sidebar.collapsed .nav__items .dashboards .list__name i {
        padding-left: 39%;
        padding-right: 50%; }
    .sidebar.collapsed .general {
      display: none; }
    .sidebar.collapsed .user__content .user__info {
      opacity: 0;
      transform: translateX(90px); }

.user__wrapper {
  height: 142px;
  background: #4a878c;
  background: -moz-linear-gradient(top, #4a878c 0%, #776b91 100%);
  background: -webkit-linear-gradient(top, #4a878c 0%, #776b91 100%);
  background: -o-linear-gradient(top, #4a878c 0%, #776b91 100%);
  background: -ms-linear-gradient(top, #4a878c 0%, #776b91 100%);
  background: linear-gradient(to bottom, #4a878c 0%, #776b91 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a878c', endColorstr='#776b91', GradientType=0); }
  .user__wrapper .user__content {
    padding: 40px 0 40px 30px; }
    .user__wrapper .user__content .user__pic {
      display: inline-block;
      width: 62px;
      height: 62px;
      border-radius: 50%;
      background: url("img/user__pic.png"); }
    .user__wrapper .user__content .user__info {
      display: inline-block;
      position: absolute;
      top: 48px;
      left: 92px;
      color: white;
      font-size: 20px;
      margin-left: 20px;
      transition: 0.5s;
      white-space: nowrap; }
      .user__wrapper .user__content .user__info .user__name {
        margin-bottom: 5px; }
      .user__wrapper .user__content .user__info .user__company {
        font-size: 16px;
        margin-bottom: 5px; }

.general {
  height: 75px;
  padding-left: 30px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 70px; }

.nav__items {
  color: #fff;
  line-height: 70px;
  transition: 0.5s; }
  .nav__items i {
    font-size: 24px;
    padding-left: 40px;
    padding-right: 8px;
    transition: 0.5s; }
  .nav__items .list__name {
    height: 70px;
    white-space: nowrap;
    overflow: hidden; }
  .nav__items .list__dash {
    height: 60px;
    overflow: hidden;
    transition: 0.5s; }
    .nav__items .list__dash .dash__holder {
      white-space: nowrap; }
      .nav__items .list__dash .dash__holder img {
        opacity: 0.3;
        margin-left: 70px;
        transition: 0.5s;
        user-select: none; }
      .nav__items .list__dash .dash__holder i {
        padding-right: 5px; }
    .nav__items .list__dash .fa-tachometer {
      padding-right: 20px; }
    .nav__items .list__dash li {
      height: 45px;
      padding: 0 2px 0 84px;
      font-size: 18px;
      line-height: 44px;
      overflow: hidden; }
      .nav__items .list__dash li i {
        font-size: 18px; }
        .nav__items .list__dash li i.pink {
          color: #f16192; }
        .nav__items .list__dash li i.blue {
          color: #46c1fa; }
        .nav__items .list__dash li i.violet {
          color: #ea6ef5; }
        .nav__items .list__dash li i.green {
          color: #90d751; }
    .nav__items .list__dash.active {
      height: 268px;
      font-size: 14px;
      background-color: #486e91; }
    .nav__items .list__dash.active .dash__holder {
      border-left: 8px solid #46c1fa; }
      .nav__items .list__dash.active .dash__holder img {
        opacity: 1;
        transform: rotateZ(180deg); }
      .nav__items .list__dash.active .dash__holder i {
        font-size: 32px;
        padding-left: 38px;
        padding-right: 55px; }

main {
  width: calc(100% - 314px);
  margin-left: 314px;
  padding: 20px 20px 0 26px;
  display: inline-block; }
  main.collapsed {
    width: calc(100% - 120px);
    margin-left: 120px; }
  main tr {
    height: 90px; }
  main td {
    vertical-align: middle; }
  main .table__header {
    height: 54px;
    margin-top: 4px;
    font-size: 0;
    text-align: left;
    border-bottom: 1px solid lightgrey; }
    main .table__header .table__header__recent {
      display: inline-block;
      text-transform: uppercase;
      width: 66%;
      padding: 19px 20px;
      vertical-align: top;
      color: #777777;
      font-size: 14px;
      font-weight: bold;
      background: #fbfbfb; }
    main .table__header .table__header__nav {
      display: inline-block;
      width: 34%;
      padding: 19px;
      vertical-align: top;
      border-left: 1px solid lightgrey; }
      main .table__header .table__header__nav .table__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80px;
        float: right; }
        main .table__header .table__header__nav .table__nav .table__nav-button {
          display: inline-block;
          width: 15px;
          height: 15px;
          cursor: pointer; }
          main .table__header .table__header__nav .table__nav .table__nav-button img {
            width: 100%;
            height: 100%; }
  main .table__wrapper {
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(12, 6, 14, 0.1); }
    main .table__wrapper .main__table {
      margin: 0 20px;
      width: calc(100% - 40px); }
      main .table__wrapper .main__table .good__00 {
        width: 40px;
        background: url("img/good__00.png") center no-repeat; }
      main .table__wrapper .main__table .good__01 {
        width: 40px;
        background: url("img/good__01.png") center no-repeat; }
      main .table__wrapper .main__table .cell {
        color: #777777;
        font-size: 15px;
        text-align: center;
        padding: 0 4px; }
    main .table__wrapper .table__column-titles {
      height: 48px;
      color: #949393;
      font-weight: bold; }
      main .table__wrapper .table__column-titles .column__title {
        white-space: nowrap;
        border-bottom: 1px solid lightgrey;
        text-transform: uppercase;
        font-size: 12px;
        text-align: center; }
        main .table__wrapper .table__column-titles .column__title:first-child {
          padding-left: 0; }
        main .table__wrapper .table__column-titles .column__title:last-child {
          padding-right: 0; }

@media (max-width: 1070px) {
  main .table__wrapper .main__table .column__title {
    font-size: 10px; }
  main .table__wrapper .main__table .cell {
    font-size: 12px; } }
@media (max-width: 900px) {
  main .table__wrapper .main__table .column__title {
    font-size: 8px; }
  main .table__wrapper .main__table .cell {
    font-size: 10px; } }
@media (max-width: 840px) {
  body {
    background-color: #1d5065; }

  .main__header .header__nav {
    display: none; }

  .to__hide {
    display: none; }

  .period__title {
    display: none; }

  main {
    width: 100%;
    margin-left: 0; }
    main.collapsed {
      width: 100%;
      margin-left: 0; }
    main .table__wrapper .main__table {
      margin: 0 40px; }
      main .table__wrapper .main__table .cell {
        font-size: 13px; }

  main .table__header .table__header__recent {
    width: 40%; }

  main .table__header .table__header__nav {
    width: 60%; } }
@media (max-width: 500px) {
  .main__header .period__wrapper .period__choose {
    width: 93px;
    height: 30px;
    border-radius: 3px;
    font-size: 11px;
    text-align: center;
    text-align-last: center;
    outline: none; } }

/*# sourceMappingURL=style.css.map */
