body {
  height: 100%;
  padding-top: 80px;
}

ul, li {
  cursor: pointer;
}

.dash__holder:hover {
  background-color: #4b6378;
}

li:hover {
  background-color: #4b6378;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  .user__pic__header {
    display: none;
    position: absolute;
    right: 5%;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: url("img/user__pic.png");
  }
}

i.fa-outdent {
  position: absolute;
  color: white;
  z-index: 2;
  background: #46c1fa;
  padding: 7px;
  border-radius: 50%;
  font-size: 22px;
  top: 24px;
  left: 296px;
  cursor: pointer;
  transition: 0.2s;

  &.collapsed {
    left: 102px;
    transform: rotateZ(180deg);
  }
}

.main__header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: calc(100% - 314px);
  height: 80px;
  padding: 0 8px 0 40px;
  color: #fff;
  background: #4a868c;
  transition: 0.2s;

  &.collapsed {
    width: calc(100% - 120px);
  }

  a {
    color: #fff;
  }

  .period__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;

    .period__choose {
      width: 142px;
      height: 30px;
      border-radius: 3px;
      font-size: 15px;
      text-align: center;
      text-align-last: center;
      outline: none;
    }
  }
}

.company__title {
  color: #fff;
  font-size: 34px;
  letter-spacing: 5px;
  padding-top: 22px;
  padding-left: 30px;
  height: 80px;
  width: 314px;
  background: #253340;
  display: inline-block;
  transition: 0.2s;

  &.collapsed {

    padding-left: 52px;
    padding-top: 26px;
    letter-spacing: 70px;
    width: 120px;
  }
}

.company__title:first-letter {
  color: #ed553c;
}

.sidebar {
  position: absolute;
  width: 314px;
  height: 100%;
  background: #253340;
  transition: 0.2s;

  .message {
    position: relative;

    .message-counter {
      position: absolute;
      right: 10%;
      top: 45%;
      width: 27px;
      height: 21px;
      border-radius: 10px;
      background: #ef4b8f;
      color: #fff;

      span {
        font-size: 13px;
        position: absolute;
        top: -24px;
        left: 6px;
      }
    }
  }

  &.collapsed {
    overflow: hidden;
    width: 120px;

    .dash__holder {
      padding-left: 0;
      padding-right: 65px;

      i {
        padding-right: 55px;
      }
    }

    .message {
      position: relative;

      .message-counter {
        position: absolute;
        right: 28%;
        top: 32%;
        width: 24px;
        height: 17px;
        border-radius: 10px;
        background: #ef4b6e;
        color: #fff;

        span {
          font-size: 11px;
          position: absolute;
          top: -26px;
          left: 5px;
        }
      }
    }

    .nav__items {
      .dashboards {
        &.active {
          height: 70px;

          i {
            font-size: 32px;
            padding-left: 76%;
            padding-top: 36%;
            padding-right: 100%;
          }
        }

        .dash__holder {

          i {
            padding-left: 87%;
            padding-right: 100%;
          }
        }

        .list__name {
          padding-left: 0;

          i {
            padding-left: 39%;
            padding-right: 50%;
          }
        }
      }
    }

    .general {
      display: none;
    }

    .user__content {

      .user__info {
        opacity: 0;
        transform: translateX(90px);
      }
    }

  }
}

.user__wrapper {
  height: 142px;
  background: rgba(74, 135, 140, 1);
  background: -moz-linear-gradient(top, rgba(74, 135, 140, 1) 0%, rgba(119, 107, 145, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(74, 135, 140, 1) 0%, rgba(119, 107, 145, 1) 100%);
  background: -o-linear-gradient(top, rgba(74, 135, 140, 1) 0%, rgba(119, 107, 145, 1) 100%);
  background: -ms-linear-gradient(top, rgba(74, 135, 140, 1) 0%, rgba(119, 107, 145, 1) 100%);
  background: linear-gradient(to bottom, rgba(74, 135, 140, 1) 0%, rgba(119, 107, 145, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a878c', endColorstr='#776b91', GradientType=0);

  .user__content {
    padding: 40px 0 40px 30px;

    .user__pic {
      display: inline-block;
      width: 62px;
      height: 62px;
      border-radius: 50%;
      background: url("img/user__pic.png");
    }

    .user__info {
      display: inline-block;
      position: absolute;
      top: 48px;
      left: 92px;
      color: white;
      font-size: 20px;
      margin-left: 20px;
      transition: 0.5s;
      white-space: nowrap;

      .user__name {
        margin-bottom: 5px;
      }

      .user__company {
        font-size: 16px;
        margin-bottom: 5px;
      }
    }
  }
}

.general {
  height: 75px;
  padding-left: 30px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 70px;
}

.nav__items {
  color: #fff;
  line-height: 70px;
  transition: 0.5s;

  i {
    font-size: 24px;
    padding-left: 40px;
    padding-right: 8px;
    transition: 0.5s;
  }

  .list__name {
    height: 70px;
    white-space: nowrap;
    overflow: hidden;

  }

  .list__dash {
    height: 60px;
    overflow: hidden;
    transition: 0.5s;

    .dash__holder {
      white-space: nowrap;

      img {
        opacity: 0.3;
        margin-left: 70px;
        transition: 0.5s;
        user-select: none;
      }

      i {
        padding-right: 5px;
      }
    }

    .fa-tachometer {
      padding-right: 20px;
    }

    li {
      height: 45px;
      padding: 0 2px 0 84px;
      font-size: 18px;
      line-height: 44px;
      overflow: hidden;

      i {
        font-size: 18px;

        &.pink {
          color: #f16192;
        }

        &.blue {
          color: #46c1fa;
        }

        &.violet {
          color: #ea6ef5;
        }

        &.green {
          color: #90d751;
        }
      }
    }

    &.active {
      height: 268px;
      font-size: 14px;
      background-color: #486e91;

    }

    &.active .dash__holder {
      border-left: 8px solid #46c1fa;

      img {
        opacity: 1;
        transform: rotateZ(180deg);
      }

      i {
        font-size: 32px;
        padding-left: 38px;
        padding-right: 55px;
      }
    }
  }
}

main {
  width: calc(100% - 314px);
  margin-left: 314px;
  padding: 20px 20px 0 26px;
  display: inline-block;

  &.collapsed {
    width: calc(100% - 120px);
    margin-left: 120px;
  }

  tr {
    height: 90px;
  }

  td {
    vertical-align: middle;
  }

  .table__header {
    height: 54px;
    margin-top: 4px;
    font-size: 0;
    text-align: left;
    border-bottom: 1px solid lightgrey;

    .table__header__recent {
      display: inline-block;
      text-transform: uppercase;
      width: 66%;
      padding: 19px 20px;
      vertical-align: top;
      color: #777777;
      font-size: 14px;
      font-weight: bold;
      background: #fbfbfb;
    }

    .table__header__nav {
      display: inline-block;
      width: 34%;
      padding: 19px;
      vertical-align: top;
      border-left: 1px solid lightgrey;

      .table__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80px;
        float: right;

        .table__nav-button {
          display: inline-block;
          width: 15px;
          height: 15px;
          cursor: pointer;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .table__wrapper {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px 0 rgba(12, 6, 14, 0.1);

    .main__table {
      margin: 0 20px;
      width: calc(100% - 40px);

      .good__00 {
        width: 40px;
        background: url("img/good__00.png") center no-repeat;
      }

      .good__01 {
        width: 40px;
        background: url("img/good__01.png") center no-repeat;
      }

      .cell {
        //padding: 30px 20px;
        color: #777777;
        font-size: 15px;
        text-align: center;
        padding: 0 4px;
      }
    }

    .table__column-titles {
      height: 48px;
      color: #949393;
      font-weight: bold;

      .column__title {
        white-space: nowrap;
        border-bottom: 1px solid lightgrey;
        text-transform: uppercase;
        font-size: 12px;
        text-align: center;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}

@media (max-width: 1070px) {
  main {
    .table__wrapper {
      .main__table {

        .column__title {
          font-size: 10px;
        }

        .cell {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  main {
    .table__wrapper {
      .main__table {

        .column__title {
          font-size: 8px;
        }

        .cell {
          font-size: 10px;
        }
      }
    }
  }
}

@media (max-width: 840px) {
body {
  background-color: #1d5065;
}
  .main__header {
    .period__wrapper {

      .period__choose{


    }
  }
 .header__nav {
   display: none;
 }}

  .to__hide {
    display: none;
  }

  .period__title {
    display: none;
  }


  main {
    width: 100%;
    margin-left: 0;
    &.collapsed {
      width: 100%;
      margin-left: 0;
    }

    .table__wrapper {
      .main__table {
        margin: 0 40px;

        .cell {
          font-size: 13px;
        }
      }
    }
  }

  main .table__header .table__header__recent {
    width: 40%;
  }

  main .table__header .table__header__nav {
    width: 60%;
  }
}





